.ContentField{
    margin-top: -50px;
    &:hover{
        .ContentField-wraper {
            border: 1.5px solid black;
            border-radius: 7px;
        }
    }
    .ContentField-wraper {
        padding: 20px 20px;
        margin-top: 50px;
        
    }
}
