.HeaderModal {
    background-color: whitesmoke;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.listItem {
    padding: 25px 25px;
    border: 1px solid black;
    margin: 10px 0px;
    border-radius: 10px;
}
.text-name:hover {
    background-color: #ff7e7e;
}